@import url('https://fonts.googleapis.com/css2?family=Acme&family=Dancing+Script:wght@700&display=swap');
* {
    margin: 0%;
    padding: 0%;
}
header {
    background-image: linear-gradient(#66a3ff,white), url('../img/Nine-Arches-Bridge.jpg');
    background-blend-mode: multiply;
    height: 100vh;
    background-size: cover;
}nav ul {
    /* background-color: rgba(101, 207, 221, 0.308); */
    height: 80px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    font-family: 'Acme', sans-serif;
    align-items: center;
    font-size: 24px;
    color: white;
}
nav ul li {
    margin-right: 50px;
    transition: all 300ms ease-in;
}
nav ul li:first-child{
    margin-right: auto;
    margin-left: 50px;
}
.hero {
    display: flex;
    height:calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.hero h3 {
    letter-spacing: 3px;
    font-family: 'Acme', sans-serif;
}
.hero h1 {
    font-family: 'Dancing Script', cursive; 
    font-size: 100px;
    color: gold;
    text-shadow: 0 0 5px black;
}
nav ul li:hover {
    color: rgb(218, 202, 115);
    cursor: pointer;
}
/* ----------- section 02---------- */

.card {
     box-shadow:0 0 8px rgb(0, 0, 0.8) ;
     width: 400px;
     padding: 10px;
     text-align: center;
}
.card img {
     width: 100%;
}
.card button {
    padding: 10px 20px;
    color: white;
    background-color: #66a3ff;
    box-shadow: 3px 3px 4px black;  
    border-radius: 20px ;  
    border: none;
}
.cardgrid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr ;
  margin:30px 80px ;
  gap: 20px;
}
/* .cardgrid {
    display: flex;
    margin: 30px 80px;
    gap: 20px;
} */
.card p {
    margin:10px;
}
.card h1 {
    margin: 10px;
}
.headline {
    text-align: center;
    margin: 30px 0px ;
}
/* ----------- section 02---------- */

.boxgrid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.box img {
    width: 100%;
}